extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
      .col-md-7
        h1= pagina
        blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad enim veniam expedita minus placeat ratione ut velit ex, natus facilis alias commodi sapiente, amet officiis odit soluta quis aspernatur aut!

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quibusdam architecto mollitia unde nostrum facere itaque? Pariatur alias sit nobis maiores, laboriosam accusamus eligendi quam suscipit dicta tempora beatae tenetur!

        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam doloribus sequi totam labore beatae nobis veniam, provident quasi perferendis maxime porro laborum, tempore quo ratione! Nihil repudiandae delectus tenetur! Culpa.
  
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row 
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icon security", class="img-fluid mb-4")
          h2.mb-4 Security
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ad facere quos tenetur accusamus illo commodi, similique error. Culpa molestiae ad ducimus deserunt facere placeat, quae sapiente natus accusantium pariatur.
        .col-md-4
          img(src="img/icono_destinos.svg", alt="icon destino", class="img-fluid mb-4")
          h2.mb-4 The Best Destinations
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ad facere quos tenetur accusamus illo commodi, similique error. Culpa molestiae ad ducimus deserunt facere placeat, quae sapiente natus accusantium pariatur.
        .col-md-4
          img(src="img/icono_precios.svg", alt="icon precios", class="img-fluid mb-4")
          h2.mb-4 The Best prices
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ad facere quos tenetur accusamus illo commodi, similique error. Culpa molestiae ad ducimus deserunt facere placeat, quae sapiente natus accusantium pariatur.