footer.container.py-5
  .row
    .col-md-6
      nav.nav.footer.justify-content-center.justify-content-md-start
        a.nav-link(href="/About") About
        a.nav-link(href="/Travels") Travels
        a.nav-link(href="/Testimonials") Testimonials
    
    .col
      p.copyright.tet-center.text-md-right
        | all right reserved 
        span= currentYear